@{
    ViewData["Title"] = "View project authors";
}


<div class="text-center">
    <h2 class="display-4" style="text-align: left">Пользователи проекта</h2>
    <br>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Идентификатор</th>
                <th>Имя</th>
                <th>Дата регистрации</th>
            </tr>
            </thead>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.JoinDate</td>
                </tr>
            }
    </table>
</div>